/* main Rules */

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* Header */

.header .slider {
    background-image: url('../i_mg/sliderImage.jpg');
    background-size: cover;
    height: 600px;
}

.header .slider .intro {
    padding: 200px;
    color: #fff;
    text-align: center;
}

.header .slider .intro h2 {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 50px;
    color: #fff;
    width: 600px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.header .slider .intro button {
    background: none;
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 10px 30px;
}


/* navbar */

.header .navbar {
    background-color: #252531;
    color: #fff;
    overflow: hidden;
}

.header .navbar h2 {
    color: #fff
}

.header .navbar h2 span {
    color: #2ecc71;
}

.header .navbar ul {
    float: right;
    text-transform: capitalize;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
}

.header .navbar ul li {
    float: left;
    padding: 10px;
}

.header .navbar a {
    text-decoration: none;
    color: #fff;
}

.header .navbar ul li a:hover,
.header .navbar ul li.active a {
    color: #30b576;
}


/* features */

.features {
    padding: 40px 0px 50px 0px;
    overflow: hidden;
}

.features .feat {
    height: 150px;
    width: 33.3333%;
}


/* about me */

.about-me {
    overflow: hidden;
    background-color: #f2f2f2;
}

.img {
    height: 502px;
    border-style: dashed;
    width: 40%;
}

.about-me .img img {
    border-style: solid;
    width: 100%;
    height: 100%;
}

.info {
    width: 60%;
}

.about-me .info h2 {
    margin: 25px 0 20px 40px;
}

.info>p {
    margin: 0 0 10px 40px;
}

.info p:last-of-type {
    margin-top: 25px;
}

.info .hobbies {
    overflow: hidden;
    margin: 15px 0 0 40px;
}

.info .hobbies .content {
    width: 50%;
    overflow: hidden;
}

.hobbies .content .icon {
    width: 12%;
    margin-right: 5%;
}

.hobbies .content .icon i {
    color: #2dcc70;
    margin-top: 30px;
}

.hobbies .content .icon i.fa {
    color: #2dcc70
}

.hobbies .content .text {
    width: 83%;
}

.content .text p {
    margin-top: 0;
}

.about-me h3 {
    margin-bottom: 5px;
}


/* My skills */

.my-skill {
    overflow: hidden;
    padding: 30px 50;
}

.my-skill .skills,
.my-skill .progress {
    width: 50%;
}

.my-skill .skills h2 {
    margin: 25px 0 20px 40px;
}

.my-skill .skills p {
    margin: 0 0 10px 40px;
}

.my-skill .skills p:last-of-type {
    margin-top: 25px;
}

.my-skill .skills button {
    margin-top: 20px;
    margin-left: 40px;
}

.progress .technique {
    margin-left: 50px;
}

.technique div {
    background-color: #f2f2f2;
    height: 25px;
}

.technique div span {
    background-color: #2dcc70;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #fff;
    font-weight: bold;
}


/* resume */

.resume {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 50px 0 70px 0;
    text-align: center;
}

.resume p {
    padding: 0 40px;
}

.resume button {
    margin-top: 15px;
}


/* My Education */

.my-education {
    overflow: hidden;
    padding: 30px 0;
}

.my-education .main {
    width: 50%;
    margin-right: 5%;
}

.my-education hr {
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0;
}

.my-education .exp {
    width: 45%;
}

.my-education .main h2 {
    margin: 25px 0 20px 40px;
}

.my-education .main p {
    margin: 0 0 10px 40px;
}

.my-education .main p:last-of-type {
    margin-top: 25px;
}

.my-education .exp h3 {
    margin-top: 80px;
    margin-bottom: 10px;
}

.my-education .exp span {
    display: block;
    margin-bottom: 10px;
}

.my-education .exp span:first-of-type {
    color: #999
}

.my-education .exp span:last-of-type {
    background-color: #2dcc70;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
}


/* testmonials */

.testmonials {
    background-color: #f2f2f2;
    padding: 50px 0px;
}

.testmonials q {
    color: #888;
    font: italic bold 18px/1.8 Arial, Thoma
}

.testmonials h3 {
    margin-bottom: 30px;
}

.testmonials ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.testmonials ul li {
    width: 15px;
    height: 15px;
    border: 2px solid #2DCC70;
    display: inline-block;
    cursor: pointer;
}

.testmonials ul li.active,
.testmonials ul li:hover {
    background-color: #2dcc70;
}

.Protfolio {
    padding-top: 50px 0 70px 0;
}

.Protfolio p {
    margin-bottom: 30px;
}

.Protfolio .our-work {
    overflow: hidden;
}

.Protfolio .our-work>div {
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;
}

.Protfolio .our-work>div img {
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}


/* Contact */

.contact {
    padding-top: 50px;
    padding-bottom: 70px;
    overflow: hidden;
    background-color: #252f31;
}

.contact .info {
    width: 50%;
    margin-right: 5%;
}

.contact h2 {
    color: #fff;
    margin-left: 40px;
}

.contact p {
    margin-left: 40px;
    color: #6a6e71;
}

.contact p strong {
    color: #D1D6DA
}

.contact .form {
    width: 45%;
}

.contact .form label {
    display: block;
    color: #D1D6DA;
    margin: 10px 0;
}

.contact .form input[type='text'] {
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}

.contact .form textarea {
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}

.contact .form input[type='submit'] {
    background-color: #191e22;
    color: #fff;
    display: block;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
}


/* footer */

.footer {
    overflow: hidden;
    text-align: center;
    background-color: #191e22;
    color: #6a6e71;
    padding: 20px 0;
}

.footer ul {
    padding-left: 0;
    float: right;
    margin: 10px 0 0;
}

.footer ul li {
    display: inline-block;
}


/* Framework buttom */

.my-button {
    background-color: none;
    font-weight: bold;
    border: 3px solid #2dcc70;
    color: #2dcc70;
    padding: 10px 20px;
}


/*Framework left */

.float-lf {
    float: left;
}


/* Framework p */

p {
    line-height: 1.7;
    color: #888;
}

h2,
h3 {
    color: #777
}

.txt_center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.container {
    width: 1170px;
    margin: auto;
}